@use "@/styles/variables.module.scss" as *;
.DetailedPage {
  min-height: 100vh;
  font-family: $font-display;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  padding: 10px;
}
::-webkit-scrollbar {
  display: none;
}

.heroSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  font-family: $font-display;
  @include responsive($mobile) {
    padding-top: 100px;
  }
  .textSection {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include responsive($mobile) {
      flex-direction: column;
    }
    .leftText {
      padding-left: 50px;
      font-size: 64px;
      font-family: $font-display;
      color: $text-primary;
      @include responsive($tablet) {
        font-size: 32px;
        padding-left: 10px;
      }
      @include responsive($mobile) {
        padding-left: 10px;
        font-size: 24px;
        margin: 0;
      }
    }
    .RightText {
      display: flex;
      justify-content: center;
      align-content: center;
      color: #aba7a7;
      font-size: 24px;
      margin: auto 0;
      @include responsive($mobile) {
        font-size: 16px;
        margin: 0;
        justify-content: start;
        padding-left: 10px;
      }
    }
  }
  .heroImage {
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      //   max-height: 70vh;
    }
  }
}
.AboutSection {
  @include container;
  @include section-padding;
  display: grid;
  flex-direction: row;
  grid-template-columns: 1fr 2fr;
  @include responsive($mobile) {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .leftSide {
    h4 {
      color: #969595;
      font-size: 20px;
    }
  }
  .rightSide {
    display: flex;
    flex-direction: column;
    .headText {
      margin-bottom: 25px;
      font-size: 20px;
      color: #969595;
      @include responsive($mobile) {
        font-size: 16px;
      }
      a {
        text-decoration: underline 1px rgb(121, 121, 121);
      }
    }
    .aboutText {
      font-size: 24px;
      @include responsive($mobile) {
        font-size: 20px;
      }
    }
  }
  .stats {
    @include container;
    //   @include section-padding;
    margin-top: 30px;
    background: $dark-bg;
    color: $text-primary;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include responsive($mobile) {
      gap: 0.5px;
    }
    .row {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
      // border-bottom: 1px solid $border-subtle;
      padding-bottom: 2.5rem;

      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }

      // Tablet
      @include responsive($laptop) {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
      }

      // Mobile
      @include responsive($mobile) {
        grid-template-columns: 1fr;
        gap: 0.5rem;
      }
    }

    .col {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;

      p {
        font-size: 20px;
        color: $text-muted;
        font-family: $font-body;
        letter-spacing: 0.5px;
      }

      h4 {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.6;
        color: $text-primary;
        font-family: $font-body;
      }
    }

    /* Special cases (optional fine-tuning) */

    .col:nth-child(1) {
      // first column slightly tighter
      h4 {
        font-weight: 500;
      }
    }

    /* Mobile refinement (matches your screenshot style) */
    @include responsive($mobile) {
      gap: 0rem;

      .col {
        p {
          font-size: 0.8rem;
        }

        h4 {
          font-size: 1rem;
          line-height: 1.5;
        }
      }
    }
  }

  .three {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}
.ImagesSection {
  @include container;
  //   @include section-padding;
  .FullImage {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .images {
    @include container;
    @include section-padding;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    // background: $darker-bg;

    // Tablet
    @include responsive($laptop) {
      gap: 2.5rem;
    }

    // Mobile
    @include responsive($tablet) {
      flex-direction: column;
      gap: 2rem;
    }
  }

  .imageWrapper {
    flex: 1;
    position: relative;
    transition: transform 0.5s ease;

    img {
      width: 100%;
      height: auto;
      display: block;
      object-fit: cover;
    }

    // Left image slightly down
    &:first-child {
      transform: translateY(40px);

      @include responsive($tablet) {
        transform: translateY(0);
      }
    }
  }

  // Right image slightly up
  .up {
    transform: translateY(-40px);

    @include responsive($tablet) {
      transform: translateY(0);
    }
  }
}
